{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'patients/css/list.css' %}">
<script src="{% static 'medications/js/parse-medications.js' %}"></script>
{% endblock %}

{% block date_hierarchy %}
<span class="card-title">{% trans 'Upload medications' %}</span>
<form enctype="multipart/form-data">
  <span class="collection-item center">
    <div class="input-field file-field col s12" id="id_file_container">
      <div class="btn file-btn">
        <span>{% trans 'File' %}</span>
        <input type="file" name="file" class="input-upload">
      </div>
      <div class="file-path-wrapper">
        <input  class="file-path"  id="id_file" placeholder="{% trans 'Uploaded file' %}" type="text">
      </div>
    </div>
    <a type="button" class="waves-effect waves-light btn white-text tools-button green parse-file"
       data-url="{% url 'medications:upload' 'upload-file' %}"
       data-token="{{token}}"
    >
      <span>{% trans 'Upload' %}</span>
      <i class="material-icons upload white-icon">cloud_upload</i>
      <i class="fa fa-refresh fa-spin loading hidden"></i>
    </a>
  </span>
</form>
{% endblock %}