{% extends "admin/change_form.html" %}
{% load static i18n %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tasks/css/category_change_form.css' %}">
<script>
  var staticUrl = "{% static '' %}";
  $(document).ready(function() {
    $('#id_icon_container option').each(function () {
      let value = this.value || 'tasks/icons/no-icon.png';
      $(this).prepend(`<img style="width:18px;height:18px;" src="{% static '' %}${value}">`);
      if ('{{ adminform.form.icon.value }}' === value || value === 'tasks/icons/no-icon.png') {
        function setSelected() {
          $('.select-dropdown').val($("#id_icon option:selected").text());
        }
        setTimeout(setSelected, 0);
      }
    })
  });
</script>

{% endblock %}

{% block change_form %}
  <img id="iconDisplay" width="30" height="30" src="{% static '' %}{% if adminform.form.icon.value %}{{ adminform.form.icon.value }}{% else %}tasks/icons/no-icon.png{% endif %}">
  {{ block.super }}
{% endblock %}

{% block object-tools %}
  {{ block.super }}
    <ul class="object-tools collection with-header upload-tasks">
      <li class="collection-header"><h5>{% trans 'Upload tasks' %}</h5></li>
      <li class="collection-item">
          <span class="collection-item center">
          <a type="button"
             href="{% static 'tasks/files/tasks-upload.xlsx' %}"
             class="waves-effect waves-light btn blue white-text add-tasks-button">
             <span>{% trans 'Template' %}</span>
             <i class="material-icons white-icon cloud_icon">cloud_download</i>
          </a>
        </span>
        <form enctype="multipart/form-data">
          <span class="collection-item center">
            <div class="input-field file-field col s12" id="id_file_container">
              <div class="btn file-btn">
                <span>{% trans 'File' %}</span>
                <input type="file" name="file" class="input-upload">
              </div>
              <div class="file-path-wrapper">
                <input  class="file-path"  id="id_file" placeholder="{% trans 'Uploaded file' %}" type="text">
              </div>
            </div>
            <a type="button" class="waves-effect waves-light btn white-text green add-tasks-button parse-file"
               data-url="{% url 'tasks:upload' adminform.form.instance.slug %}"
               data-token="{{token}}"
            >
              <span>{% trans 'Upload' %}</span>
              <i class="material-icons upload white-icon cloud_icon">cloud_upload</i>
              <i class="fa fa-refresh fa-spin loading hidden"></i>
            </a>
          </span>
        </form>
      </li>
    </ul>
{% endblock %}
