{% load i18n %}{% autoescape off %}
{% blocktrans %}
Hello {{ user }},
You have already registered on {{ site_name }} or asked about access recovery for your account.
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}s://{{ domain }}/auth/new-password?uid={{ uid }}&token={{ token }}
{% endblock %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
